---
layout: default
rbar: calendar
---

{% if site.homepageBanner.display %}
<div class="row c-hp-banner">
  <div class="small-12 columns">
    <a href="{{ site.homepageBanner.link }}" title="{{ site.homepageBanner.title }}">
      {% capture img %}{% asset '{{ site.homepageBanner.image.default }}' magick:resize='1135x' @path %}{% endcapture %}
      {% if site.homepageBanner.breakpoint %}
        <picture>
          <source media="(min-width: {{ site.homepageBanner.breakpoint }}px)" srcset="{{ img }}">
          <img src="{% asset '{{ site.homepageBanner.image.mobile }}' magick:resize='{{ site.homepageBanner.breakpoint +"px" }}' @path %}" alt="{{ site.homepageBanner.title }}">
        </picture>
      {% else %}
        <img src="{{ img }}" alt="{{ site.homepageBanner.title }}">
      {% endif %}
    </a>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="medium-12 large-6 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading">Aktuální témata</h1>
        </header>
        <div>
          Aktuality jsme přesunuli na naši Facebookovou stránku Piráti Turnov.<br/><br/>
          <a href="https://www.facebook.com/pirati.turnov/?ref=page_internal" target='_blank' rel="next" class="button expanded large">Aktuality na Facebooku - Piráti Turnov</a>
        </div>
      </div>


      <div class="o-section-block">
        <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
          <li class="c-widget-accordion-item is-active" data-accordion-item="">
            <a href="#" class="c-widget-accordion-link">
              <span class="c-widget-accordion__title">Facebook</span>
              <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
                <i class="fa fa-facebook fa-lg"></i>
              </span>
            </a>
            <div class="c-widget-accordion-content" data-tab-content="">
              <div class="fb-page" data-href="https://www.facebook.com/pirati.turnov/" data-tabs="timeline" data-width="732" data-height="550" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/pirati.turnov/">
                    <a href="https://www.facebook.com/pirati.turnov/">
                      Najdete nás na Facebooku:<br>
                      Česká pirátská strana - Praha</a>
                  </blockquote>
                </div>
              </div>
            </div>
          </li>
        </ul>
       </div>

    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-6 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
